<!-- for EACH of the seveal items found on page: https://curatorhotelsandresorts-stage.afinesite.com/destinations/cities/boston for example -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LodgingBusiness",
  "@id": "", // url of the curator page for the hotel + "#lodgingBusiness"
  "name": "Montrose at Beverly Hills",
  "url": "/properties/montrose-beverly-hills", // the curator URL - not the hotels URL
  "image": [ // array of all images per hotel
      {
         "@type": "ImageObject",
         "contentUrl": "" // url of the image
      }
   
   // etc etc
   ],
  "description": "Suite Style With A Hollywood Vibe", // the slogan
  "address": { // hotel address
    "@type": "PostalAddress",
    "addressLocality": "West Hollywood",
    "addressRegion": "CA",
    "addressCountry": "USA"
  },
  "sameAs": "www.montrosewesthollywood.com", // url of the actual hotel website homepage
  "amenityFeature": [ // list of the 3 amenities found
    "Rooftop Pool",
    "Electric Vehicle Charging",
    "All-Suite"
  ]
}
</script>
