<!-- for the /properties/ pages such as: https://curatorhotelsandresorts-stage.afinesite.com/properties/hotel-zeppelin for example -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LodgingBusiness",
  "@id": "", // url of the page + "#lodgingBusiness"
  "url": "", // url of the page
  "name": "Montrose at Beverly Hills",
  "telephone": "", // phone number of the hotel
  "description": "", // main description of the hotel
  "image": [ // array of the primary images on the top of the page
      {
         "@type": "ImageObject",
         "contentUrl": "" // url of the image
      }
   // etc etc
   ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "" // street address
    "addressLocality": "", // city
    "addressRegion": "", // state code (2 letters)
    "postalCode": "" // zip code
    "addressCountry": "" // country
  },
  "sameAs": "www.montrosewesthollywood.com" // url of the actual hotel website homepage
}
</script>
